section.promo
    .promo_left
        .promo_tag exclusive
        .promo_name Fishnet Chair
        .promo_text Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black  or highly polished chrome.
        .link
            a.link__button(href="#") Order Us
                span.icon-ctrl
    .promo_right
        .promo_tag exclusive
        .promo_name Fishnet Chair
        .promo_text Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black  or highly polished chrome.
        .link
            a.link__button(href="#") Order Us
                span.icon-ctrl