.button
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 1%
    .explore 
        display: flex
        align-items: center   
        font-size: 1.285rem
        color: rgb(108, 108, 108)
        font-family: $Montserrat-Bold
        text-transform: uppercase
        text-align: center
        @media screen and ( max-width: 992px )
            font-size: 14px
        @media screen and ( max-width: 768px  )
            font-size: 12px
        @media screen and ( max-width: 480px  )
            font-size: 10px
            
        .icon-ctrl
            display: inline-block
            transform: rotate(90deg)
            font-size: 1.714rem
            height: 100%
            color: rgb(108, 108, 108)
            font-family: $Montserrat-Bold
            @media screen and ( max-width: 992px )
                font-size: 19px
            @media screen and ( max-width: 768px  )
                font-size: 16px
            @media screen and ( max-width: 576px )
                font-size: 14px
            @media screen and ( max-width: 480px )
                font-size: 12px

    &:hover
        .explore
            color: red
        .icon-ctrl
            color: red