header
    height: 0.6332357247437775*$width
    // padding-top: 64px
    // padding-bottom: 200px
    // background: url(../img/bg/slider-img.jpg) center center/cover no-repeat

    @media screen and ( min-width: 1170px )
        height: 740px
        
   

    .container
        position: absolute
        top: 0.0547008547008547*$width // 64px
        left: 50%
        transform: translateX(-50%)

    .slider_container 
        width: 100%
        height: 100%
        position: relative
        overflow: hidden

        .header_slide
            position: absolute
            top: 0
            display: block
            width: 100%
            height: 100%
            

        .header_slide_active
            left: 0%
            transition: all 1s

        .header_slide_prev
            left: 100%  
            transition: all 1s 
            z-index: -1         
            
        .header_slide_next 
            left: -100%
            transition: all 1s
            
 
    .wrapper_nav
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 0.2393162393162393*$width // 280px

        @media screen and ( min-width: 1171px )
            margin-bottom: 280px

        @media screen and ( max-width: 1170px )
            margin-bottom: 100px

        @media screen and ( max-width: 992px )
            margin-bottom: 70px

        @media screen and ( max-width: 768px )
            margin-bottom: 20px

    nav.main_menu
        display: none        
        width: 550 / 1170 * 100%
        @media screen and ( max-width: 1170px )
            width: 59%

        @media screen and ( max-width: 992px )
            width: 70%

        @media screen and ( max-width: 768px )
            width: 55%
            

    .menu 
        display: flex
        justify-content: space-between

        @media screen and ( max-width: 768px )
            flex-wrap: wrap
            justify-content: center
        
        &_list 
            padding: 0 10px
            border-bottom: 3px solid transparent
            padding: 10px
            
                

            &:hover
                border-bottom: 1px solid #212121

            &_active, &_active:hover
                font-family: $Montserrat-Bold
                border-bottom: 3px solid #212121
                font-weight: 700

            &:last-child:hover
                border-bottom: none   

        &_link 
            height: 100%       
            font-size: 14px
            color: rgb(33, 33, 33)
            text-transform: uppercase

            &_active
                font-family: $Montserrat-Regular
                border-bottom: 3px solid #212121
                font-weight: 700

    nav.mobile_menu 
        
        position: absolute 
        top: 0
        left: -60%
        background-color: rgba(0,0,0,.5)
        height: 50vh
        width: 40vw
        transition: all .5s

        ul.menu_mobile
            display: flex
            flex-direction: column
            justify-content: space-evenly
            align-items: stretch
            width: 100%
            height: 100%

        li 
            box-sizing: border-box
            display: block
            // padding: 6% 20%

            a 
                display: block
                color: #ffffff
                font-size: 12px
                width: 100% 
                height: 100%
                padding: 6% 20%

    nav.mobile_menu_active 
        left: 0


    .logo
        width: 185px
        height: 22px

        @media screen and ( max-width: 992px )
            width: 150px

        @media screen and ( max-width: 768px )
            width: 100px

    .subtitle
        font-size: 18px
        color: #43a047
        font-family: $Montserrat-Bold
        text-transform: uppercase
        text-align: left
        margin-bottom: 12px
        @media screen and ( max-width: 992px )
            font-size: 16px
        @media screen and ( max-width: 768px )
            font-size: 14px

    .title_main        
        font-size: 62px
        font-family: $Montserrat-Thin
        letter-spacing: -0.07em
        color: rgb(33, 33, 33)
        text-transform: uppercase
        text-align: left
        margin-bottom: 25px
        @media screen and ( max-width: 992px )
            font-size: 45px
            margin-bottom: 15px
        @media screen and ( max-width: 768px )
            font-size: 30px
            margin-bottom: 10px

    .title_text  
        width: 470 / 1170 * 100%
        font-size: 14px
        font-weight: 300
        color: rgb(108, 108, 108)
        line-height: 1.714
        text-align: left
        margin-bottom: 30px
        @media screen and ( max-width: 992px )
            font-size: 12px
            margin-bottom: 20px
        @media screen and ( max-width: 768px )
            line-height: 1

    .hamburger 
        // display: none
        position: absolute
        top: 54pxs
        right: 0
        width: 40px
        height: 30px
        display: flex
        flex-direction: column
        justify-content: space-between
        cursor: pointer
        transition: all 1s

        span
            display: block
            background-color: #000000
            width: 100%
            height: 3px
            transform-origin: 50% 50%
            transition: all .5s
            

    .hamburger_active
        // height: 59px
        span:nth-child(2)
            display: none
        span:first-child
            transform: translateY(13px) rotate(45deg) 
            
        span:last-child
            transform: translateY(-13px) rotate(-45deg) 
            