doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name="description" content="Interior")
        meta(name="author" content="Melnikov Sergey")
        title Interior
        link(rel="icon" href="icon/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="css/icon.css")
        link(rel="stylesheet" href="css/contacts.css")
    body
        header
            .container
                .wrapper_nav
                        .logo
                            a(href="#")
                                img(src="icon/logo.png", alt="logo")
                        nav.main_menu
                            ul.menu
                                li.menu_list: a.menu_link(href="index.html") HOME
                                li.menu_list: a.menu_link(href="products.html") PRODUCTS
                                li.menu_list: a.menu_link(href="#") HISTORY
                                li.menu_list: a.menu_link(href="#") SHOWROOM
                                li.menu_list.menu_list_active: a.menu_link(href="#") CONTACT
                                li.menu_list: a.menu_link(href="#"): span.icon-search
                        nav.mobile_menu
                            ul.menu_mobile
                                li.mobile_list: a(href="#") HOME
                                li.mobile_list: a(href="products.html") PRODUCTS
                                li.mobile_list: a(href="#") HISTORY
                                li.mobile_list: a(href="#") SHOWROOM
                                li.mobile_list: a(href="#") CONTACT                              
                        .hamburger
                            span
                            span
                            span
                .title
                    h1.title_main Contact Us
        section.location
            .container
                .block
                    span.icon-location_on
                    .name California
                    .phone Phone:
                    .phone_number: a(href="tel:190012345678") 1900 - 1234 - 5678
                    .email Email:
                    .email_address: a(href="mailto:info@interior.com") info@interior.com
                    .address_text Address:
                    .address 12 W 1st St, 90001 Los Angeles, California
                .block
                    span.icon-location_on
                    .name California
                    .phone Phone:
                    .phone_number: a(href="tel:190012345678") 1900 - 1234 - 5678
                    .email Email:
                    .email_address: a(href="mailto:info@interior.com") info@interior.com
                    .address_text Address:
                    .address 12 W 1st St, 90001 Los Angeles, California
                .block
                    span.icon-location_on
                    .name California
                    .phone Phone:
                    .phone_number: a(href="tel:190012345678") 1900 - 1234 - 5678
                    .email Email:
                    .email_address: a(href="mailto:info@interior.com") info@interior.com
                    .address_text Address:
                    .address 12 W 1st St, 90001 Los Angeles, California
        include includes/_footer.pug

        script(src='js/hamburger.js')
