doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name="description" content="Interior")
        meta(name="author" content="Melnikov Sergey")
        title Interior
        link(rel="icon" href="icon/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="css/icon.css")
        link(rel="stylesheet" href="css/products.css")
    body
        header
            .container
                .wrapper_nav
                        .logo
                            a(href="#")
                                img(src="icon/logo.png", alt="logo")
                        nav.main_menu
                            ul.menu
                                li.menu_list: a.menu_link(href="index.html") HOME
                                li.menu_list.menu_list_active: a.menu_link(href="#") PRODUCTS
                                li.menu_list: a.menu_link(href="#") HISTORY
                                li.menu_list: a.menu_link(href="#") SHOWROOM
                                li.menu_list: a.menu_link(href="contacts.html") CONTACT
                                li.menu_list: a.menu_link(href="#"): span.icon-search
                        nav.mobile_menu
                            ul.menu_mobile
                                li.mobile_list: a(href="#") HOME
                                li.mobile_list: a(href="products.html") PRODUCTS
                                li.mobile_list: a(href="#") HISTORY
                                li.mobile_list: a(href="#") SHOWROOM
                                li.mobile_list: a(href="#") CONTACT                              
                        .hamburger
                            span
                            span
                            span
                .title
                    h1.title_main Our Products Range
        section.trending
            .container
                .trending_nav
                    ul.menu
                        li.menu_list.menu_list_active: a.menu_link(href="index.html") ALL
                        li.menu_list: a.menu_link(href="#") HOME
                        li.menu_list: a.menu_link(href="#") OFFICE
                        li.menu_list: a.menu_link(href="#") FURNITURE
                        li.menu_list: a.menu_link(href="#") MODERN
                        li.menu_list: a.menu_link(href="#") CLASSIC
                .trending_img
                    img(src="img/jpg/Trending/product-11.jpg", alt="product")
                    img(src="img/jpg/Trending/product-21.jpg", alt="product")
                    img(src="img/jpg/Trending/product-31.jpg", alt="product")
                    img(src="img/jpg/Trending/product-41.jpg", alt="product")
                    img(src="img/jpg/Trending/product-5.jpg", alt="product")
                    img(src="img/jpg/Trending/product-6.jpg", alt="product")
                    img(src="img/jpg/Trending/product-11.jpg", alt="product")
                    img(src="img/jpg/Trending/product-21.jpg", alt="product")
                    img(src="img/jpg/Trending/product-31.jpg", alt="product")
                    img(src="img/jpg/Trending/product-41.jpg", alt="product")
                    img(src="img/jpg/Trending/product-5.jpg", alt="product")
                    img(src="img/jpg/Trending/product-6.jpg", alt="product")
                .icon_arrow
                    img(src="icon/arrows_circle.jpg", alt="arrow_circle")
        section.promo
            .promo_left
                .promo_tag exclusive
                .promo_name Fishnet Chair
                .promo_text Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black  or highly polished chrome.
                a.button(href="#") Order Us
                        span.icon-ctrl
            .promo_right
                .promo_tag exclusive
                .promo_name Fishnet Chair
                .promo_text Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black  or highly polished chrome.
                a.button(href="#") Order Us
                        span.icon-ctrl     
        include includes/_footer.pug
            
        script(src='js/hamburger.js')
