doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Interior")
        meta(name="author" content="Melnikov Sergey")
        title Interior
        link(rel="icon" href="icon/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="css/icon.css")
        link(rel="stylesheet" href="css/products.css")
    body
        header
            .container
                .wrapper
                    .logo
                        a(href="#")
                            img(src="icon/logo.png", alt="logo")
                    nav
                        ul.menu
                            li.menu_list: a.menu_link(href="index.html") HOME
                            li.menu_list.menu_list_active: a.menu_link(href="#") PRODUCTS
                            li.menu_list: a.menu_link(href="#") HISTORY
                            li.menu_list: a.menu_link(href="#") SHOWROOM
                            li.menu_list: a.menu_link(href="contacts.html") CONTACT
                            li.menu_list: a.menu_link(href="#"): span.icon-search
                .title
                    h1.title_main Our Products Range
        section.trending
            .container
                .trending_nav
                    ul.menu
                        li.menu_list.menu_list_active: a.menu_link(href="index.html") ALL
                        li.menu_list: a.menu_link(href="#") HOME
                        li.menu_list: a.menu_link(href="#") OFFICE
                        li.menu_list: a.menu_link(href="#") FURNITURE
                        li.menu_list: a.menu_link(href="#") MODERN
                        li.menu_list: a.menu_link(href="#") CLASSIC
                .trending_img
                    img(src="img/jpg/Trending/product-11.jpg", alt="product")
                    img(src="img/jpg/Trending/product-21.jpg", alt="product")
                    img(src="img/jpg/Trending/product-31.jpg", alt="product")
                    img(src="img/jpg/Trending/product-41.jpg", alt="product")
                    img(src="img/jpg/Trending/product-5.jpg", alt="product")
                    img(src="img/jpg/Trending/product-6.jpg", alt="product")
                    img(src="img/jpg/Trending/product-11.jpg", alt="product")
                    img(src="img/jpg/Trending/product-21.jpg", alt="product")
                    img(src="img/jpg/Trending/product-31.jpg", alt="product")
                    img(src="img/jpg/Trending/product-41.jpg", alt="product")
                    img(src="img/jpg/Trending/product-5.jpg", alt="product")
                    img(src="img/jpg/Trending/product-6.jpg", alt="product")
                .icon_arrow
                    img(src="icon/arrows_circle.jpg", alt="arrow_circle")
        section.promo
            .promo_left
                .promo_tag exclusive
                .promo_name Fishnet Chair
                .promo_text Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black  or highly polished chrome.
                a.button(href="#") Order Us
                        span.icon-ctrl
            .promo_right
                .promo_tag exclusive
                .promo_name Fishnet Chair
                .promo_text Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black  or highly polished chrome.
                a.button(href="#") Order Us
                        span.icon-ctrl     
        footer.footer
            .container
                .footer_top
                    .footer_contact
                        h3 Contact Us
                        .address 132A Bridge Road Richmond VIC Australia.
                        .phone Talk to us on 
                            a(href="tel:1300132") 1300 132 
                            a(href="mailto:info@interior.com")  info@interior.com
                    .footer_info
                        h3 Useful Information
                        .footer_block
                            .footer_block_left
                                a(href="#") Sales terms
                                a(href="#") Customer care
                                a(href="#") Delivery
                            .footer_block_right
                                a(href="#") Architect accounts
                                a(href="#") Careers
                                a(href="#") Exchanges &amp; returns
                    .footer_stay 
                        h3 Let’s Stay in Touch!
                        .text Suscribe to know about our latest news, products and special offers just for suscribers.
                        form(action="#")
                            input.mail(type="text" placeholder="your email address") 
                            span.icon-compass
                .footer_bottom
                    .footer_copy © Copyright - INTERIOR 2016. All Rights Reserved.
                    .footer_icons
                        .footer_icon.fb
                            a(href="https://facebook.com" target="_blank"): span.icon-facebook
                        .footer_icon.tw
                            a(href="https://twitter.com" target="_blank"): span.icon-twitter
                        .footer_icon.google
                            a(href="https://play.google.com" target="_blank"): img.google(src="icon/google-plus.png", alt="google-plus")
                        .footer_icon.pinterest  
                            a(href="https://www.pinterest.ru" target="_blank"): span.icon-pinterest2
                    .footer_privacy Terms &amp; Conditions  /  Privacy policy &amp; Cookies
            
        script(src='js/script.js')
